<template>
  <form @submit="createDirectory" @submit.prevent="showModal = false">
    <div class="modal-card is-centered">
      <header class="modal-card-head">
        <p class="modal-card-title">New empty file</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Enter directory name">
          <b-input
            type="filename"
            placeholder="mydir"
            required v-model="dirname">
          </b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
        <button class="button is-primary is-outlined" @click="$parent.close()">Create</button>
      </footer>
    </div>
  </form>
</template>
<script>
import {CreateDirectoryRequest, GetDirectoryInfoRequest} from '../../generated/routes_pb'
import {NameServiceClient, StorageServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
    this.storageClient = new StorageServiceClient('http://envoy.nodrop.club:9080', null, null)
  },
  computed: {
    pathname () {
      return this.$store.state.pathname
    }
  },
  methods: {
    createDirectory () {
      let getRequest = new CreateDirectoryRequest()
      // alert((this.pathname + this.dirname).replace('//', '/'))
      getRequest.setPath((this.pathname + '/' + this.dirname).replace('//', '/'))
      console.log(getRequest)
      this.client.storeDirectory(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    getDirectoryInfo () {
      let getRequest = new GetDirectoryInfoRequest()
      console.log(`This pathname: ${this.pathname}`)
      getRequest.setPath(this.pathname)
      // console.log(this.pathname)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        // this.pathname = res.path
        this.$store.dispatch('changePath', res.path)
      })
    }
  },
  data () {
    return {
      isEmptyFileModalActive: false,
      dirname: '',
      formProps: {
        email: 'evan@you.com',
        password: 'testing'
      }
    }
  }
}
</script>

<style scoped>

</style>
