<template>
    <form @submit="createFile" @submit.prevent="showModal = false">
      <div class="modal-card is-centered">
        <header class="modal-card-head">
          <p class="modal-card-title">New empty file</p>
        </header>
        <section class="modal-card-body">
          <b-field label="Enter filename">
            <b-input
              type="filename"
              placeholder="file.txt"
              required v-model="filename">
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button class="button" type="button" @click="$parent.close()">Close</button>
          <button class="button is-primary is-outlined" @click="$parent.close()">Create</button>
        </footer>
      </div>
    </form>
</template>

<script>
import {StoreFileRequest, GetDirectoryInfoRequest, StorageFile} from '../../generated/routes_pb'
import {NameServiceClient, StorageServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  // props: {
  //   pathname: {
  //     type: String,
  //     required: true,
  //     default: '/vue/vue/vue'
  //   }},
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
    this.storageclient = new StorageServiceClient('http://envoy.nodrop.club:9080', null, null)

  },
  name: 'EmptyFileModal',
  computed: {
    pathname () {
      return this.$store.state.pathname
    }
  },
  methods: {
    createFile () {
      let getRequest = new StoreFileRequest()
      getRequest.setFilePath((this.pathname + '/' + this.filename).replace('//', '/'))
      getRequest.setSize(0)
      this.client.storeFile(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject().fileUuid
        console.log(res)
        let storageRequest = new StorageFile()
        storageRequest.setFileUuid(res)
        storageRequest.setSize(0)
        storageRequest.setPropagate(true)
        this.storageclient.storeFile(storageRequest, {}, (err, response) => {
          // if (err) {
          //   console.log(err)
          //   this.callError(filesToSend[i].name)
          // }
          console.log(err)
          let res = response
          console.log(res)
          console.log(`Path after upload: ${this.pathname}`)
          // this.$store.dispatch('changePath', this.pathname.slice(-1,0))
          this.getDirectoryInfo()
          // sentFiles.push(filesToSend[i].name)
        })
      })
    },
    getDirectoryInfo () {
      let getRequest = new GetDirectoryInfoRequest()
      console.log(`This pathname: ${this.pathname}`)
      getRequest.setPath(this.pathname)
      // console.log(this.pathname)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        // this.pathname = res.path
        this.$store.dispatch('changePath', res.path)
      })
    }
  },
  data () {
    return {
      isEmptyFileModalActive: false,
      filename: '',
      formProps: {
        email: 'evan@you.com',
        password: 'testing'
      }
    }
  }
}
</script>

<style scoped>

</style>
