<template>
  <div class="tile">
    <article class="notification">
      <p class="title">
        <b-icon
        icon="file"
        size="is-large">
      </b-icon>
        {{file.name}}</p>
      <!--<p class="subtitle">file.txt</p>-->
      <ul id="example-1">
        <li>
          <b>Filename:</b> {{file.name}}
        </li>
        <li>
          <b>Created on:</b> {{file.createdDate}}
        </li>
        <li>
          <b>Size:</b> {{file.size}}
        </li>
        <li>
          <b>FileUuid:</b> {{file.fileUuid}}
        </li>
        <li>
          <b>Type:</b> file
        </li>
      </ul>

    </article>
  </div>
</template>

<script>
import {StoreFileRequest, GetDirectoryInfoRequest} from '../../generated/routes_pb'
import {NameServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  props: {
    // pathname: {
    //   type: String,
    //   required: true,
    //   default: '/vue/vue/vue'
    // },
    file: {
      type: Object,
      required: true,
      default: null
    }
  },
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
  },
  computed: {
    pathname () {
      return this.$store.state.pathname
    }
  },
  methods: {
    createFile () {
      let getRequest = new StoreFileRequest()
      getRequest.setFilePath(this.pathname + this.filename)
      getRequest.setSize(0)
      this.client.storeFile(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    getDirectoryInfo () {
      let getRequest = new GetDirectoryInfoRequest()
      console.log(`This pathname: ${this.pathname}`)
      getRequest.setPath(this.pathname)
      // console.log(this.pathname)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        // this.pathname = res.path
        this.$store.dispatch('changePath', res.path)
      })
    }
  },
  data () {
    return {
      isEmptyFileModalActive: false,
      filename: '',
      formProps: {
        email: 'evan@you.com',
        password: 'testing'
      }
    }
  }
}
</script>

<style scoped>

</style>
