<template>
  <section class="section">
    <div class="container-fluid">
      <FilePath :pathname="realpathname"></FilePath>
      <div class="level">
      <div class="buttons level-left">
        <button class="button is-outlined" @click="updateRepo">
          <b-icon icon="update"></b-icon>
        </button>
        <button class="button is-success is-outlined" @click="downloadFile">
          <b-icon pack="fas" icon="download" size="is-small"></b-icon>
        </button>
        <button class="button is-dark is-outlined" slot="trigger" @click="moveItems">
          <b-icon pack="fas" icon="arrow-right" size="is-small"></b-icon>
        </button>
        <button class="button is-dark is-outlined" slot="trigger" @click="copyItems">
          <b-icon pack="fas" icon="copy" size="is-small"></b-icon>
        </button>
        <!--<b-dropdown aria-role="list" hoverable boxed="false">-->
          <button class="button is-danger is-outlined" slot="trigger" @click="deleteItems">
            <b-icon  icon="delete"></b-icon>
          </button>

          <!--<b-dropdown-item aria-role="listitem" @click="deleteFile">Delete files</b-dropdown-item>-->
          <!--<hr class="dropdown-divider" aria-role="menuitem">-->
          <!--<b-dropdown-item aria-role="listitem" @click="deleteDirectory">Delete directory</b-dropdown-item>-->
        <!--</b-dropdown>-->
        <b-dropdown aria-role="list" hoverable>

          <button class="button is-primary is-outlined" slot="trigger">
            <b-icon pack="fas" icon="plus" size="is-small"></b-icon>
          </button>

          <b-dropdown-item aria-role="listitem" @click="isEmptyFileModalActive = true" >New empty file</b-dropdown-item>
          <b-dropdown-item aria-role="listitem" @click="isUploadFileModalActive = true">Upload files</b-dropdown-item>
          <hr class="dropdown-divider" aria-role="menuitem">
          <b-dropdown-item aria-role="listitem" @click="isCreateDirModalActive = true">New directory</b-dropdown-item>
        </b-dropdown>
        <b-dropdown aria-role="list" hoverable trap-focus>
        <button class="button is-dark is-outlined" slot="trigger">
          <b-icon icon="settings" ></b-icon>
        </button>
          <b-dropdown-item aria-role="menu-item" :focusable="false" custom
                           paddingless>
            <div class="field">
                <div class="modal-card" style="width:300px;">
                  <section class="modal-card-body">
                    <b-field label="Pagination">
                      <b-switch v-model="isSwitchedCustom">
                        <p v-if="isSwitchedCustom">Pagination is on</p>
                        <p v-else>Pagination is off</p>
                      </b-switch>
                    </b-field>
                    <b-field label="Files per page" v-if="isSwitchedCustom">
                      <b-numberinput type="is-light" v-model="filesPerPage"></b-numberinput>
                    </b-field>
                    <b-field label="Columns">
                      <section>
                        <div class="field control" v-for="(column, value) in columnsVisible" v-bind:key="value">
                          <b-checkbox v-model="columnsVisible[value]">{{value}}</b-checkbox>
                        </div>
                      </section>
                    </b-field>

                  </section>
                </div>
            </div>
          </b-dropdown-item>
        </b-dropdown>
      </div>
        <!--<div class="buttons level-right">-->
          <!--<button class="button is-dark is-outlined" slot="trigger">-->
            <!--<b-icon icon="settings" ></b-icon>-->
          <!--</button>-->
        <!--</div>-->
      </div>
      <b-table
        :data="files"
        :per-page="filesPerPage"
        hoverable
        detailed
        draggable
        :paginated="isSwitchedCustom"
        checkable
        :default-sort="['isFile', 'asc']"
        @details-open="(row, index) => getFileInfo(row.name)"
        :checked-rows.sync="checkedRows"
      >
        <template slot-scope="props">
          <b-table-column field="isFile" width="40" sortable>
            <b-icon v-if="props.row.isFile" :icon="fileIcon(props.row.name)" type="is-blue"></b-icon>
            <b-icon v-if="!props.row.isFile" icon="folder" type="is-warning"></b-icon>
          </b-table-column>
          <b-table-column field="name" label="Filename"  width="600" sortable>
            <a @click="onRowClicked(props.row)">
              <div v-if="props.row.name.length<70">{{ props.row.name }}</div>
              <div v-else>{{ props.row.name.substring(0,70)+".." }}</div>
            </a>
          </b-table-column>
          <b-table-column field="size" sortable label="Size" numeric v-if="columnsVisible['Size']">
            <div v-if="props.row.isFile">
            {{(props.row.size/1024).toFixed(1)}} KB
            </div>
            <div v-else>
              ---
            </div>
          </b-table-column>
          <b-table-column field="created"  label="Created" v-if="columnsVisible['Created']">
            {{ props.row.createdDate }}
          </b-table-column>
          <b-table-column field="type" label="Type"  v-if="columnsVisible['Type']">
            <div v-if="props.row.isFile">{{ fileType(props.row.name) }}</div>
            <div v-else>directory</div>
          </b-table-column>

          <!--<b-table-column field="actions" label="">-->
            <!--<div class="buttons">-->
              <!--<b-button type="is-light" @click="getFileInfo(props.row.name)">-->
                <!--<b-icon-->
                  <!--icon="dots-vertical"-->
                  <!--size="is-small">-->
                <!--</b-icon>-->
              <!--</b-button>-->
            <!--</div>-->
          <!--</b-table-column>-->
        </template>
        <template slot="bottom-left">
          <!--<b>Total checked</b>: {{ checkedRows.length }}-->
          <!--<b>{{checkedRows}}</b>-->
        </template>
        <template slot="detail" slot-scope="props">
              <div style="margin-left: 120px">
                <b-loading :active.sync="loading">
                  <b-icon
                    pack="fas"
                    icon="sync-alt"
                    size="is-large"
                    custom-class="fa-spin">
                  </b-icon></b-loading>
                <b-tag type="is-light is-small" rounded><b>Name:</b></b-tag>{{opened[props.row.name].name}}
                <br>
                <b-tag type="is-light is-small" rounded><b>Created on:</b></b-tag>  {{opened[props.row.name].createdDate}}
                <br>
                <div v-if="props.row.isFile">
                <b-tag type="is-light is-small" rounded><b>Size:</b></b-tag> {{opened[props.row.name].size}} B
                <br></div>
                <div v-if="props.row.isFile">
                    <b-tag type="is-light is-small" rounded><b>FileUuid:</b></b-tag> {{opened[props.row.name].fileUuid}}
                  <br></div>
                    <div v-if="props.row.isFile">
                      <b-tag type="is-light is-small" rounded><b>Type:</b></b-tag> {{fileType(props.row.name)}}
                    </div>
                    <div v-else>
                      <b-tag type="is-light is-small" rounded><b>Type:</b></b-tag> directory
                    </div>
              </div>
        </template>
      </b-table>
    </div>
    <b-modal :active.sync="isEmptyFileModalActive">
      <EmptyFileModal :pathname="slashedpathname"></EmptyFileModal>
    </b-modal>
    <b-modal :active.sync="isUploadFileModalActive">
      <FilePicker :pathname="slashedpathname"></FilePicker>
    </b-modal>
    <b-modal :active.sync="isCreateDirModalActive">
      <DirectoryCreate :pathname="slashedpathname"></DirectoryCreate>
    </b-modal>
    <b-modal :active.sync="isFileMoveModalActive">
      <FileMove :pathname="slashedpathname" :moveFileNames="moveFileNames"></FileMove>
    </b-modal>
    <b-modal :active.sync="isFileInfoModalActive">
      <FileInfo :pathname="slashedpathname" :file="file" can-cancel></FileInfo>
    </b-modal>
  </section>
</template>
<script>
import FilePath from './FilePath'
import EmptyFileModal from './EmptyFileModal'
import FilePicker from './FilePicker'
import {GetDirectoryInfoRequest, StoreFileRequest, CreateDirectoryRequest, GetFileStorageRequest, GetFileRequest, MoveFileRequest, DeleteFileRequest, DeleteDirectoryRequest} from '../../generated/routes_pb'
import {NameServiceClient, StorageServiceClient} from '../../generated/routes_grpc_web_pb'
import DirectoryCreate from './DirectoryCreate'
import FileMove from './FileMove'
import FileInfo from './FileInfo'
export default {
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
    this.storageClient = new StorageServiceClient('http://envoy.nodrop.club:9080', null, null)
    this.getDirectoryInfo()
  },
  components: {DirectoryCreate, EmptyFileModal, FilePath, FilePicker, FileMove, FileInfo},
  computed: {
    filelist () {
      this.getDirectoryInfo()
      return this.files
    },
    realpathname () {
      // alert('home' + this.pathname)
      return 'home' + this.pathname
    },
    slashedpathname () {
      return this.pathname + '/'
    },
    pathname () {
      return this.$store.state.pathname
    },
    files () {
      return this.$store.state.files
    }
  },
  methods: {
    deleteItems () {
      let toDelete = this.checkedRows
      toDelete.forEach(item => {
        if (item.isFile) {
          this.deleteFile(item)
        } else {
          this.confirmDelete(item)
        }
      })
    },
    copyFolder(names) {
      this.$buefy.snackbar.open({
        message: 'The folders can not be copied: '+names.slice(0, -2),
        duration: 5000,
        type: 'is-danger',
        position: 'is-top',
        actionText: 'OK',
      })
    },
    copyItems () {
      let toCopy = this.checkedRows
      let folders = ''
      toCopy.forEach(item => {
        if (item.isFile) {
          this.copyFile(item.name, 'copy_'+item.name)
        } else {
          folders += item.name
          folders += ', '
        }
      })
      if (folders.length > 0){
        this.copyFolder(folders)
      }

    },
    moveItems () {
      this.moveFileNames = this.checkedRows
      this.isFileMoveModalActive = true
    },
    fileType (filename) {
      let images = ['png', 'jpeg', 'jpg', 'tiff', 'svg']
      let music = ['mp3', 'wav']
      let videos = ['mp4', 'avi', 'mkv']
      let pdf = ['pdf']
      let text = ['doc', 'txt', 'docx']
      let web = ['html']
      let ext = (filename + '').split('.').pop()
      let res = ''
      if (images.includes(ext)) {
        res = 'image file'
      } else if (music.includes(ext)) {
        res = 'music file'
      } else if (videos.includes(ext)) {
        res = 'video file'
      } else if (pdf.includes(ext)) {
        res = 'pdf file'
      } else if (text.includes(ext)) {
        res = 'text file'
      } else if (web.includes(ext)) {
        res = 'web file'
      } else {
        res = 'file'
      }
      return res
    },
    fileIcon (filename) {
      let images = ['png', 'jpeg', 'jpg', 'tiff', 'svg']
      let music = ['mp3', 'wav']
      let videos = ['mp4', 'avi', 'mkv']
      let pdf = ['pdf']
      let text = ['doc', 'txt', 'docx']
      let web = ['html']
      let ext = (filename + '').split('.').pop()
      let res = ''
      if (images.includes(ext)) {
        res = 'image'
      } else if (music.includes(ext)) {
        res = 'file-music'
      } else if (videos.includes(ext)) {
        res = 'video'
      } else if (pdf.includes(ext)) {
        res = 'file-pdf-box'
      } else if (text.includes(ext)) {
        res = 'file-document-outline'
      } else if (web.includes(ext)) {
        res = 'web'
      } else {
        res = 'file'
      }
      return res
    },
    onRowClicked (file) {
      if (file.isFile) {
        this.downloadSingleFile(file)
      } else {
        this.$store.dispatch('changePath', (this.pathname + '/' + file.name).replace('//', '/'))
        this.getDirectoryInfo()
        // this.checkedRows = []
      }
    },
    showInfo () {
      this.$store.dispatch('showInfo', 'filename')
    },
    updateRepo () {
      this.getDirectoryInfo()
    },
    createFile (filename) {
      let getRequest = new StoreFileRequest()
      getRequest.setFilePath(this.pathname + filename)
      getRequest.setSize(0)
      this.client.storeFile(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    saveData (data, fileName) {
      let a = document.createElement('a')
      document.body.appendChild(a)
      a.style = 'display: none'
      let url = window.URL.createObjectURL(data)
      a.href = url
      a.download = fileName
      a.click()
      window.URL.revokeObjectURL(url)
    },
    downloadFile () {
      let toDownload = this.checkedRows
      for (let i = 0; i < toDownload.length; i++) {
        let nameRequest = new GetFileRequest()
        nameRequest.setFilePath(this.pathname + toDownload[i].name)
        this.client.getFile(nameRequest, {}, (err, response) => {
          console.log(err)
          let res = response.toObject()
          this.uuid = res.fileUuid
          let storageRequest = new GetFileStorageRequest()
          storageRequest.setFileUuid(this.uuid)
          this.storageClient.getFile(storageRequest, {}, (err, response) => {
            console.log(err)
            console.log(response.array[2])
            let res = new Blob([response.array[2]])
            this.saveData(res, toDownload[i].name)
            console.log(res)
            this.getDirectoryInfo()
          })
        })
      }
    },
    downloadSingleFile (file) {
      let nameRequest = new GetFileRequest()
      nameRequest.setFilePath(this.pathname + '/' + file.name)
      this.client.getFile(nameRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        this.uuid = res.fileUuid
        let storageRequest = new GetFileStorageRequest()
        storageRequest.setFileUuid(this.uuid)
        this.storageClient.getFile(storageRequest, {}, (err, response) => {
          console.log(err)
          console.log(response.array[2])
          let res = new Blob([response.array[2]])
          this.saveData(res, file.name)
          console.log(res)
          this.getDirectoryInfo()
        })
      })
    },
    deleteFile (file) {
      let getRequest = new DeleteFileRequest()
      getRequest.setFilePath((this.pathname + '/' + file.name).replace('//', '/'))
      console.log((this.pathname + '/' + file.name).replace('//', '/'))
      this.client.deleteFile(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    getDirectoryInfo () {
      let getRequest = new GetDirectoryInfoRequest()
      console.log(`This pathname from  filelist: ${this.pathname}`)
      getRequest.setPath(this.pathname)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        this.$store.dispatch('changePath', res.path)
        this.checkedRows = []
      })
    },
    deleteDirectory (dir) {
      let getRequest = new DeleteDirectoryRequest()
      getRequest.setPath((this.pathname + '/' + dir.name).replace('//', '/'))
      this.client.deleteDirectory(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    createDirectory () {
      let getRequest = new CreateDirectoryRequest()
      getRequest.setPath(this.pathname + 'newfolder')
      this.client.storeFile(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    prompt(name) {
      this.$buefy.dialog.prompt({
        message: `File with such name already exists. Enter a new name`,
        inputAttrs: {
          placeholder: name,
          value: name,
          maxlength: 255
        },
        trapFocus: true,
        onConfirm: (value) => this.copyFile(value)
      })
    },
    copyFile (copyFileName, newFileName) {
      console.log(copyFileName)
      // this.$buefy.dialog.prompt({
      //   message: `Enter a new file name`,
      //   inputAttrs: {
      //     placeholder: newFileName,
      //     value: newFileName,
      //     maxlength: 255
      //   },
      //   trapFocus: true,
      //   onConfirm: (value) => {
      // newFileName=value
      console.log(newFileName)
      let getRequest = new MoveFileRequest()
      getRequest.setFilePath(this.pathname + '/' + copyFileName)
      getRequest.setNewPath(this.pathname + '/' + newFileName)
      this.client.copyFile(getRequest, {}, (err, response) => {
        console.log(err)
        if (err){
          this.$buefy.dialog.prompt({
            message: `File with such name already exists. Enter a new name`,
            inputAttrs: {
              placeholder: newFileName,
              value: newFileName,
              maxlength: 255
            },
            trapFocus: true,
            onConfirm: (value) => this.copyFile(copyFileName, value)
          })
        } else {
          let res = response.toObject()
          console.log(res)
          this.getDirectoryInfo()
        }
      })
    //     }
    // })
    },
    moveFile (moveFileNames) {
      this.moveFileNames = moveFileNames
      this.isFileMoveModalActive = true
    },
    confirmDelete (dir) {
      let getRequest = new GetDirectoryInfoRequest()
      // console.log(`This pathname from  filelist: ${this.pathname}`)
      console.log(this.pathname + dir.name)
      getRequest.setPath(this.pathname + dir.name)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject().filesList
        let ul = this.createList(res)
        this.$buefy.dialog.confirm({
          title: 'Confirm Deleting ',
          message: `Are you sure you want to <b>delete</b> folder <b>${dir.name}</b>? <b>All the files</b> in the folder will be <b>removed.</b> This action cannot be undone.<div class="container>"` + ul + `</div>`,
          confirmText: 'Confirm',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: () => {
            this.deleteDirectory(dir)
          }
        })
      })
    },
    createList (arr) {
      let items = arr
      let str = '<ul>'
      items.forEach(function (slide) {
        str += '<li>' + slide.name + '</li>'
      })
      str += '</ul>'
      return str
    },
    getFileInfo (infoFileName) {
      this.loading = true
      let getRequest = new GetFileRequest()
      let path = (this.pathname + '/' + infoFileName).replace('//', '/')
      console.log(path)
      getRequest.setFilePath(path)
      this.client.getFileInfo(getRequest, {}, (err, response) => {
        console.log(err)
        console.log(response.toObject())
        let res = response.toObject()
        this.opened[infoFileName] = res
        console.log(`This file: ${res}`)
        this.loading = false
      })
    }
  },
  data () {
    return {
      isEmptyFileModalActive: false,
      isUploadFileModalActive: false,
      isCreateDirModalActive: false,
      isFileMoveModalActive: false,
      isFileInfoModalActive: false,
      moveFileNames: [],
      infoFileName: '',
      checkedRows: [],
      uuid: '',
      file: null,
      draggingRow: null,
      draggingRowIndex: null,
      loading: false,
      opened: {},
      isSwitchedCustom: true,
      filesPerPage: 5,
      columnsVisible: {'Created': true, 'Size': true, 'Type': true}
    }
  },
  nextTick () {
    this.data.data = this.getItems
    this.files = this.getFiles()
  }
}
</script>
