<template>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li v-bind:key="el.id" v-for="(el, elkey) in formattedPath.slice(0, -1)" @click="getDirectoryInfo(paths[elkey])"><a>{{el}}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{formattedPath.slice(-1)[0] }}</a></li>
    </ul>
    <!--<p>{{paths}}</p>-->
  </nav>
</template>

<script>
import {GetDirectoryInfoRequest} from '../../generated/routes_pb'
import {NameServiceClient, StorageServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  /* eslint-disable */
  // props: {
  //   pathname: {
  //     type: String,
  //     required: true,
  //     default: '/vue/vue/vue'
  //   }
  //   },
  name: 'FilePath',
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
    this.storageClient = new StorageServiceClient('http://envoy.nodrop.club:9080', null, null)
  },
  computed: {
    pathname () {
      return 'home' + this.$store.state.pathname
    },
    formattedPath () {
      this.paths = []
      let arr = this.pathname.split('/')
      let currPath = ''
      for (let i = 0; i < arr.length - 1; i++) {
        let part = arr[i]
        if (part === 'home' && i === 0) {
          this.paths.push('/')
        } else {
          currPath = currPath.concat('/', arr[i])
          this.paths.push(currPath)
        }
      }
      return this.pathname.split('/')
    }
  },
  methods: {
    getDirectoryInfo (path) {
      let getRequest = new GetDirectoryInfoRequest()
      getRequest.setPath(path)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        this.$store.dispatch('changePath', res.path)
      })
    }
  },
  nextTick: function () {
    this.formattedPath()
  },
  data () {
    return {
      paths: []
    }
  }
}
</script>

<style scoped>

</style>
