<template>
  <form @submit="moveItems" @submit.prevent="showModal = false">
    <div class="modal-card is-centered">
      <header class="modal-card-head">
        <p class="modal-card-title">Move to another folder</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Enter new path">
          <b-input
            type="filename"
            placeholder="../dir"
            required v-model="moveFilePath">
          </b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
        <button class="button is-primary is-outlined" @click="$parent.close()">Move</button>
      </footer>
    </div>
  </form>
</template>

<script>
import {MoveFileRequest, GetDirectoryInfoRequest} from '../../generated/routes_pb'
import {NameServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  props: {
    // pathname: {
    //   type: String,
    //   required: true,
    //   default: '/vue/vue/vue'
    // },
    moveFileNames: {
      type: Array,
      required: true,
      default: []
    }
  },
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
    // this.moveFilePath = this.pathname.replace('//','/')
  },
  computed: {
    pathname () {
      return this.$store.state.pathname
    }
  },
  methods: {
    moveItems () {
      let toMove = this.moveFileNames
      toMove.forEach(item => {
        this.moveFile(item.name)
      })
    },
    moveFile (filename) {
      let getRequest = new MoveFileRequest()
      getRequest.setFilePath(this.pathname + filename)
      getRequest.setNewPath((this.pathname + this.moveFilePath + '/' + filename).replace('//', '/'))
      this.client.moveFile(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.getDirectoryInfo()
      })
    },
    getDirectoryInfo () {
      let getRequest = new GetDirectoryInfoRequest()
      console.log(`This pathname: ${this.pathname}`)
      getRequest.setPath(this.pathname)
      // console.log(this.pathname)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        // this.pathname = res.path
        this.$store.dispatch('changePath', res.path)
      })
    }
  },
  data () {
    return {
      isEmptyFileModalActive: false,
      moveFilePath: '',
      formProps: {
        email: 'evan@you.com',
        password: 'testing'
      }
    }
  }
}
</script>

<style scoped>

</style>
