<template>
  <section>
    <button class="button is-medium is-dark" @click="prompt">
      Create New File
    </button>

  </section>
</template>

<script>
export default {
  methods: {
    prompt () {
      this.$buefy.dialog.prompt({
        message: `Filename`,
        inputAttrs: {
          placeholder: 'image.png',
          maxlength: 100
        },
        trapFocus: true,
        onConfirm: (value) => {
          // this.$buefy.toast.open(`Your name is: ${value}`)

        }
      })
    }
  }
}
</script>
