<template>
  <section>
    <form action="" @submit="createFile" @submit.prevent="showModal = false">
      <div class="modal-card is-centered">
        <header class="modal-card-head">
          <p class="modal-card-title">Upload files</p>
        </header>
        <section class="modal-card-body">
    <b-field>
      <b-upload v-model="dropFiles"
                multiple
                drag-drop @change="previewImage">
        <section class="section">
          <div class="content has-text-centered">
            <p>
              <b-icon
                icon="upload"
                size="is-large">
              </b-icon>
            </p>
            <p>Drop your files here or click to upload</p>
          </div>
        </section>
      </b-upload>
    </b-field>

    <div class="tags">
            <span v-for="(file, index) in dropFiles"
                  :key="index"
                  class="tag is-primary" >
                {{file.name}}
                <button class="delete is-small"
                        type="button"
                        @click="deleteDropFile(index)">
                </button>
            </span>
    </div>
          <!--<button type="button" @click="previewImage">Show miniature</button>-->
          <!--<div class="image-preview" v-if="imageData.length > 0">-->
            <!--<img class="preview" :src="imageData">-->
          <!--</div>-->

  </section>
  <footer class="modal-card-foot">
    <button class="button" type="button" @click="$parent.close()">Close</button>
    <button class="button is-primary is-outlined">Create</button>
  </footer>
  </div>
  </form>
  </section>
</template>

<script>
import {StoreFileRequest, StorageFile, GetDirectoryInfoRequest} from '../../generated/routes_pb'
import {NameServiceClient, StorageServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  // props: {
  //   pathname: {
  //     type: String,
  //     required: true,
  //     default: '/vue/vue/vue'
  //   }},
  computed: {
    pathname () {
      console.log(`Path from state: ${this.$store.state.pathname}`)
      return this.$store.state.pathname
    }
  },
  created: function () {
    this.nameclient = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
    this.storageclient = new StorageServiceClient('http://envoy.nodrop.club:9080', null, null)
  },
  data () {
    return {
      dropFiles: [],
      imageData: ''
    }
  },
  methods: {
    deleteDropFile (index) {
      this.dropFiles.splice(index, 1)
    },
    previewImage () {
      // Reference to the DOM input element
      let input = this.dropFiles[0]
      // Ensure that you have a file before attempting to read it
      if (input.files && input.files[0]) {
        // create a new FileReader to read this image and convert to base64 format
        let reader = new FileReader()
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.imageData = e.target.result
        }
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(input.files[0])
      }
    },
    getDirectoryInfo () {
      console.log('directory run')
      let getRequest = new GetDirectoryInfoRequest()
      if (this.pathname === '/') {
        console.log(`This pathname: ${this.pathname}`)
        getRequest.setPath(this.pathname)
      } else {
        console.log(`This pathname: ${this.pathname}`)
        getRequest.setPath(this.pathname)
      }
      this.nameclient.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        this.$store.dispatch('changePath', (res.path).replace('//', '/'))
      })
    },
    callError(name) {
      this.$buefy.toast.open({
        message: 'File exists: '+ name,
        type: 'is-danger',
        position: 'is-top',
      })
    },
    sleep(ms) {
      ms += new Date().getTime();
      while (new Date() < ms){}
    },
    createFile () {
      let filesToSend = this.dropFiles
      let sentFiles = []
      this.dropFiles = []
      for (let i = 0; i < filesToSend.length; i++) {
        let getRequest = new StoreFileRequest()
        getRequest.setFilePath((this.pathname + '/' + filesToSend[i].name).replace('//', '/'))
        // console.log(getRequest.getFilePath())
        getRequest.setSize(filesToSend[i].size)
        // eslint-disable-next-line handle-callback-err
        this.nameclient.storeFile(getRequest, {}, (err, response) => {
          if (err) {
            console.log(err)
            this.callError(filesToSend[i].name)
          } else {
            let uuid = response.toObject().fileUuid
            // console.log(uuid)
            let reader = new FileReader()
            reader.onload = () => {
              let contents = new Uint8Array(reader.result)
              // console.log(contents)
              let storageRequest = new StorageFile()
              storageRequest.setFileUuid(uuid)
              storageRequest.setSize(filesToSend[i].size)
              storageRequest.setFile(contents)
              storageRequest.setPropagate(true)
              this.storageclient.storeFile(storageRequest, {}, (err, response) => {
                if (err) {
                  // console.log(err)
                  // console.log('From storage'+ err)
                  // this.callError(filesToSend[i].name)
                } else {
                  let res = response.toObject()
                  console.log(res)
                  // console.log(`Path after upload: ${this.pathname}`)
                  // this.sleep(1)
                  // this.$store.dispatch('changePath', this.pathname.slice(-1,0))
                  this.getDirectoryInfo()
                  // sentFiles.push(filesToSend[i].name)
                }
              })
            }
            reader.readAsArrayBuffer(filesToSend[i])
          }
        })
      }
      }
    }
}
</script>
