<template>
  <div>
    <NavBar></NavBar>
    <FileList></FileList>
  </div>
</template>

<script>
import FilePicker from './FilePicker'
import FileCreate from './FileCreate'
import FileList from './FileList'
import NavBar from './NavBar'
import FilePath from './FilePath'

export default {
  components: {FilePath, NavBar, FileCreate, FilePicker, FileList},
  name: 'HelloWorld',
  data () {
    return {
      navigation: 'home'
    }
  }
}
</script>
