<template>
  <b-navbar class="is-dark" fixed-top shadow>
    <template slot="brand">
      <b-navbar-item :to="{ path: '/' }">
        <img
          src="static/goctopus.png"
          alt="Lightweight UI components for Vue.js based on Bulma"
        >
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item href="https://hackmd.io/@dariamikl/goctopus" target="_blank" rel="noopener noreferrer">
        Documentation
      </b-navbar-item>
      <b-navbar-dropdown label="Settings" hoverable>
        <b-navbar-item @click="confirmInitialize">
          Initialize repository
        </b-navbar-item>
      </b-navbar-dropdown>
      <!--<b-navbar-item>-->
        <!--<b-tag type="is-primary">-->
        <!--<b>StorageSize : {{(storageSize / 1073741824).toFixed(2)}} GB</b>-->
        <!--</b-tag>-->
      <!--</b-navbar-item>-->
    </template>
    <template slot="end">
      <b-navbar-item tag="section">
        <section>
        </section>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>
<script>
import {InitRequest, GetDirectoryInfoRequest} from '../../generated/routes_pb'
import {NameServiceClient} from '../../generated/routes_grpc_web_pb'
export default {
  created: function () {
    this.client = new NameServiceClient('http://envoy.nodrop.club:9080', null, null)
  },
  name: 'NavBar',
  data () {
    return {
      storageSize: 0
    }
  },
  computed: {
    available_size () {
      return this.$store.state.available_size
    },
    total_size () {
      return this.$store.state.total_size
    },
    pathname () {
      return this.$store.state.pathname
    }
  },
  methods: {
    confirmInitialize () {
      this.$buefy.dialog.confirm({
        title: 'Initializing storage',
        message: 'Are you sure you want to <b>initialize</b> the storage? <b>All existing files will be deleted</b>. This action cannot be undone.',
        confirmText: 'Initialize',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          this.init()
        }
      })
    },
    getDirectoryInfo () {
      let getRequest = new GetDirectoryInfoRequest()
      console.log(`This pathname: ${this.pathname}`)
      getRequest.setPath(this.pathname)
      // console.log(this.pathname)
      this.client.getDirectoryInfo(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject()
        console.log(res)
        this.$store.dispatch('changeFiles', res.filesList)
        // this.pathname = res.path
        this.$store.dispatch('changePath', res.path)
      })
    },
    init () {
      let getRequest = new InitRequest()
      this.client.init(getRequest, {}, (err, response) => {
        console.log(err)
        let res = response.toObject().availableSize
        console.log(res)
        this.getDirectoryInfo()
        this.storageSize = res
        this.$buefy.toast.open({
            message: `Storage is initialized! Available size is ${(res/(1073741824)).toFixed(2)} GB.`,
            duration: 5000,
            type: 'is-primary'
        }
        )
      })
    }
  }
}
</script>
<style scoped>
</style>
